[Desktop Entry]
Exec=/home/victor/.local/bin/marktext-x86_64.AppImage
Terminal=false
Type=Application
Icon=marktext
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;
Keywords=marktext;
Actions=NewWindow;
Name=MarkText
Comment=Next generation markdown editor

[Desktop Action NewWindow]
Name=New Window
Exec=marktext --new-window %F
Icon=marktext